<h2>Join a game!</h2>

<div *ngIf="valid.valid">
    <div id="join-container">
        <div class="join">
            <h3>
                Join an open game
                <button class="refresh" [disabled]="!this.refreshAllow" (click)="onRefresh()">
                    <svg [class.roll] = "this.refreshRoll" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                </button>
            </h3>
            <div *ngIf="gamesList.length == 0">
                <span>there are currently no open games D:</span>
            </div>
            <div *ngFor="let gameId of gamesList" id="gamesList">
                <button (click)="joinGame(gameId)">join game {{ gameId }}</button>
            </div>
        </div>

        <div class="join">
            <h3>Join a private game</h3>
            <form (ngSubmit)="onJoinPrivateGame()" [formGroup]="joinGameForm">
                <label for="gameName">game name</label>
                <input type="text" id="gameName" name="gameName" formControlName="gameId" autocomplete="off" required />

                <div *ngIf="joinGameForm.controls['gameId'].invalid && (joinGameForm.dirty || joinGameForm.touched || joinGameForm.controls['gameId'].dirty || joinGameForm.controls['gameId'].touched)" class="alert">
                    <span *ngIf="joinGameForm.controls['gameId'].errors!['required']">*game name is required</span>
                </div>

                <input type="submit" value="join game">
            </form>
        </div>
    </div>

    <div id="create">
        <h3>Create a new game</h3>
        <form (ngSubmit)="onCreateGame();" [formGroup]="gameForm">
            <label for="gameName">game name (optional)</label>
            <input type="text" id="gameName" name="gameName" formControlName="gameName" autocomplete="off" />

            <h4>game rules</h4>
            <form class="flex">
                <label for="boardSize">board size</label>
                <input name="boardSize" type="number" min="4" value="8" max="12" step="2" [(ngModel)]="boardSize" >

                <div class="switch-container">
                    <label for="loseNoMove">lose when no move</label>
                    <label class="switch">
                        <input name="loseNoMove" type="checkbox" disabled />
                        <span class="slider round"></span>
                    </label>
                </div>
            </form>

            <div id="create-submit">
                <div class="switch-container">
                    <label for="gameOpen" *ngIf="openGame">public game</label>
                    <label for="gameOpen" *ngIf="!openGame">private game</label>
                    
                    <label class="switch">
                        <input type="checkbox" id="gameOpen" formControlName="gameOpen" [(ngModel)]="openGame" />
                        <span class="slider round"></span>
                    </label>
                </div>

                <input type="submit" value="create game" />
            </div>
        </form>
    </div>
</div>
<div *ngIf="!valid.valid">
    <p>{{ valid.reason }} D:</p>
</div>
