button {
    margin-bottom: .5rem;
}

.refresh {
    /* transparent */
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

    .refresh svg {
        color: #0e86e9;
    }

    .refresh:disabled, .refresh[disabled=true] {
        cursor: not-allowed;
        /* background-color: red; */
    }

    .refresh:disabled svg, .refresh[disabled=true] svg {
        color: #ccc;
    }

    @keyframes roll {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .roll {
        animation: roll 1s infinite;
    }

#join-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    gap: 3%;
}

    .join {
        width: 100%;
        flex-basis: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 1024px) {
        #join-container {
            flex-direction: row;
        }

        .join {
            width: 50%;
            flex-basis: 50%;
        }
    }

    .join h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

.game {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
}

    .game span {
        /* text-align: center; */
        padding: 0;
        margin: 0;

        margin-right: auto;
        justify-self: flex-start;
    }

    .game button {
        margin: 0;
        margin-left: auto;
        justify-self: flex-end;
    }

#create form > * {
    margin-left: 0;
    margin-right: 0;

    width: 100%;
}

#create-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #create-submit input[type="submit"] {
        flex-grow: 0;

        width: fit-content;
    }

#timer-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    #timer-input > label {
        margin: auto;
    }

    #timer-input > input {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

form {
    width: 100%;
    margin-top: .5rem;
}

    form input[type="text"] {
        margin: auto;
        width: 100%;
    }

h4 {
    margin: 0;
}

.rulesPreset {
    align-items: stretch;
    width: 100% !important;
}

    .rulesPreset input {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;

        flex-grow: 0;
    }

    .rulesPreset label {
        cursor: pointer;

        margin: 0;
        padding: .5rem 1rem;
        flex-grow: 1;
        
        border: 1px solid #0e86e9;
    }

    /* on input checked */
    .rulesPreset input:checked + label {
        background-color: #2196F3;
        color: white;
    }

    .summary {
        display: none;

        flex-grow: 1;
        align-self: stretch;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        border: 1px solid #0e86e9;
    }

    @media(min-width: 768px) {
        .summary {
            display: flex;
        }
    }

div > span {
    margin-right: .25em;
}
