<div id="play">
    <div id="board-container">
        <div id="board" #boardDiv>
    
            <div class="row" *ngFor="let item of [].constructor(boardSize); let i = index"
                 attr.data-row="{{ i }}">
                <div class="cell" *ngFor="let item_ of [].constructor(boardSize); let j = index"
                     attr.data-row="{{ i }}" attr.data-column="{{ j }}">
    
                    <svg class="disk" *ngIf="board[i][j]"
                         [ngClass]="board[i][j]" [class.flip]="flip[i][j]" >
    
                         <circle cx="50%" cy="50%" r="50%" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    
    <div id="game-info">
    
        <div class="timer" id="create-title">
            <span>Create a new game</span>
        </div>
    
        <div id="create-rules">
    
            <button>Othello
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" [class.show]="!rulesShowMore">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" [class.show]="rulesShowMore">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                </svg>                                 
            </button>
            <button>3 min
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" [class.show]="!timerShowMore">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" [class.show]="timerShowMore">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                </svg>                               
            </button>
    
        </div>
    
            <button class="timer" id="create-submit">Submit</button>
    </div>
</div>
