#nav-title {
    margin: 0;
    width: fit-content;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

    nav > * {
        margin-right: 1rem;
    }

    nav .account-div {
        display: flex;
        flex-direction: row;

        margin-right: 0;
        margin-left: auto;
    }

        nav .account-div > *:not(:last-child) {
            margin-right: .5rem;
        }

    nav button {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
    }

    .login .sign-out-span {
        display: none;
    }

    .login .sign-out-svg {
        margin-right: -.2rem;
    }

    @media (min-width: 768px) {
        .login .sign-out-span {
            display: block;
        }

        .login .sign-out-svg {
            margin-right: 0.25rem;
        }
    }

footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 3vh;
}

    footer * {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .footer-div > * {
        margin-bottom: 0;
    }

#page-container {
    margin-top: 3vh;

    min-height: 97vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 2.5rem;
}
