:host {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

#invite-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    margin-bottom: .5rem;
}

    @media (min-width: 1024px) {
        #invite-container {
            flex-direction: row;
            align-items: center;
        }

        #invite-container button {
            margin-left: auto;
        }
    }

#game-info p {
    margin-top: 0;
}

#board-title {
    display: flex;
    flex-direction: row;

    margin-bottom: .5rem;
}

    #board-title h3 {
        margin-bottom: 0;
    }

    #board-size-options {
        margin-left: auto;
        align-self: flex-end;

        display: none;
        flex-direction: row;

        gap: .25rem;
    }

        @media (min-width: 768px) {
            #board-size-options {
                display: flex;
            }
        }

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;

    position: relative;

    width: 100%;
    aspect-ratio: 1/1;
    align-self: center;
}

    #board-container {
        align-self: center;
        width: 100%;
        aspect-ratio: 1/1;

        display: flex;
        flex-direction: column;
    }

        @media (min-width: 768px) { /* ! change the values also in .ts */
            #board-container {
                width: 70%;
            }
        }

        @media (min-width: 1280px) {
            #board-container {
                width: 60%;
            }
        }

        #board-container h3 {
            margin-top: 0;
        }

    .disabled {
        pointer-events: none;
    }

    #curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        
        width: 100%;
        height: auto;
        flex-grow: 1;
    }

    #board .cell {
        width: 100%;
        aspect-ratio: 1/1;

        border: 1px solid white;
        background-color: #A2C3A4;
        font-size: 30px;
        /* text-align: center;
        vertical-align: middle; */
        line-height: 50px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #board .legal:hover {
        background-color: #829c83;
    }

    #board .cell:not(.legal) {
        cursor: default;
    }

#game-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    width: 100%;
    margin-top: .5rem;
}

    #game-status span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        #game-status svg {
            margin-left: .5rem;
            margin-right: .5rem;
        }

    #game-status .give-up {
        margin-left: auto;
        justify-self: flex-end;
    }

.score-bar {
    /* border: 3px solid black; */
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

    .player-score {
        box-shadow: inset 0 0 3px black;
        height: 100%;

        display: flex;
        align-items: center;

        transition: all 1s;
    }

        .player-score.white {
            background-color: white;
        }

        .player-score.black {
            background-color: black;
        }

        .player-score.player {
            justify-content: flex-start;
        }

        .player-score.player span {
            margin-left: .5rem;
        }

        .player-score.opponent {
            justify-content: flex-end;
        }

        .player-score.black span {
            color: white;
        }

.disk {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* background-color: red; */
    font-size: 30px;
    line-height: 50px;
    /* cursor: pointer; */

    /* transitions */
    transition: all;
    transition-duration: 0.1s;
    transition-delay: 0.2s;
}

    .white {
        background-color: white;
    }
    .black {
        background-color: black;
    }

    .flip {
        animation: flip 1s;
    }

    @keyframes flip {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(180deg);
        }
    }

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

    .rolling {
        animation: roll 2.7s ease-in-out infinite;
        animation-delay: 1s;
    }

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(30deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

    .ringing {
        animation: ring 3s ease-in-out infinite;
        animation-delay: .7s;
    }

p > svg {
    margin-left: 1rem;
}
