<div id="play">
    <div *ngIf="valid.valid && data; then dataExists else dataNotExists"></div>
</div>

<ng-template #dataExists>

    <div id="board-container">
        <div id="board" #boardDiv [class.disabled]="!opponent || !playerTurn">
            <div *ngIf="!opponent && !data.status.completed" id="curtain"><span>waiting for an opponent...</span></div>

            <div class="row" *ngFor="let item of [].constructor(boardSize); let i = index"
                 attr.data-row="{{ i }}">
                <div class="cell" *ngFor="let item_ of [].constructor(boardSize); let j = index"
                     [class.legal] = "legalMove[i][j]"
                     attr.data-row="{{ i }}" attr.data-column="{{ j }}" (click)="putDisk(i, j, true);">
        
                    <div class="disk" *ngIf="board[i][j]" [class.highlight]="lastPlaced.y === i && lastPlaced.x === j"
                         [ngClass]="board[i][j]" [class.flip]="flip[i][j]" ></div>
                </div>
            </div>
        </div>

        <div id="score">
            <div class="score-bar" *ngIf="opponent">
                <div class="player-score player" [ngClass]="playerColor" [style.width.%]="data.score[playerColor] / (data.score[playerColor] + data.score[opponentColor]) * 100" >
                    <span>{{ data.score[playerColor] }}</span>
                </div>
                <div class="player-score opponent" [ngClass]="opponentColor" [style.width.%]="data.score[opponentColor] / (data.score[playerColor] + data.score[opponentColor]) * 100" >
                    <span>{{ data.score[opponentColor] }}</span>
                </div>
            </div>
        </div>
    </div>

    <div id="game-info">
        <button id="rematch" [class.jumping]="waitingRematch && !rematchSent" [class.sent]="rematchSent" (click)="onRematch()" *ngIf="data.status.completed">
            Rematch!
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H464c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z"/></svg>
        </button>

        <div id="timer-enemy" class="timer" [class.dim]="!playerTurn">1:37</div>

        <div id="player-names">
            <!-- <div *ngIf="opponent"> -->
                <div *ngIf="opponent">
                    <div class="disk" [ngClass]="this.opponent.color"></div>
                    <span>{{ opponent.name }}</span>
                    <svg class="crown" [class.visible]="!won && this.data.winner != 'tie' && this.data.status.completed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
                </div>
                <span *ngIf="opponent">vs</span>
                <div *ngIf="opponent">
                    <div class="disk" [ngClass]="this.playerColor"></div>
                    <span>{{ user.displayName }}</span>
                    <svg class="crown" [class.visible]="won" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
                </div>
            <!-- </div> -->

            <div *ngIf="!opponent && !data.status.completed">
                <button ngxClipboard [cbContent]="getInvite(gameId)" (click)="toastr.success('Copied invite link!');">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                    </svg>
                    Invite to game
                </button>
            </div>
        </div>

        <div id="timer-player" class="timer" [class.dim]="playerTurn">3:00</div>

        <div id="game-controls">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" (click)="onGiveUp()">
                <title>Resign</title>
                <!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z"/>
            </svg>
        
            <span title="Offer a draw">½</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <title>Previous turn</title>
                <!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <title>Next turn</title>
                <!-- Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
            </svg>

        </div>
    </div>

</ng-template>
<ng-template #dataNotExists>
    <p *ngIf="valid.valid">Loading data...</p>

    <p *ngIf="!valid.valid">{{ valid.reason }} D:</p>
</ng-template>
