@font-face {
    font-family: Roboto;
    src: url(/assets/font/Roboto-Light.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

div > span {
    margin-right: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    margin-right: .5rem;
}

form input {
    flex-grow: 1;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a {
    color: #0e86e9;
}
