@font-face {
    font-family: Roboto;
    src: url(/assets/font/Roboto-Light.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
