<div *ngIf="account">
    <h3>your account</h3>

    <p>username: {{ account.displayName }}</p>
    <p>id: {{ account.uid }}</p>
    <p>email: {{ account.email }}</p>
    <p>email verified: {{ account.emailVerified }}</p>

    <h3>Your active games</h3>

    <p *ngIf="games.length === 0">You don't have any active games! Join (or create) one <a routerLink="/join">here</a></p>

    <div id="games">
        <div *ngFor="let game of games">
            <p><a routerLink="/play/{{ game }}">game {{ game }}</a></p>
        </div>
    </div>
</div>
