#account {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
     */
}

#accountInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    #email {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

#chart {
    width: 100%;
    height: 25rem;

    margin-top: -3rem;
}
