<div id="account" *ngIf="account">
    <div id="accountInfo">
        <h3>Account info</h3>

        <span>username: {{ account.displayName }}</span>
        <span>id: {{ account.uid }}</span>
        <div id="email">
            <span>email: {{ account.email }}</span>

            <svg *ngIf="account.emailVerified" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.6">
                <title>E-mail verified!</title>
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <svg *ngIf="!account.emailVerified" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.6">
                <title>E-mail not verified!</title>
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
    </div>

    <div *ngIf="user">
        <h3>Statistics</h3>

        <p>You have played <b>{{ user.gamesNumber || 0 }}</b> games.</p>

        <div id="chart" *ngIf="chart.render">
            <ngx-charts-pie-chart [results]="chart.values" [scheme]="chart.colorScheme" [labels]="true" [animations]="false" [legend]="false"></ngx-charts-pie-chart>
        </div>
    </div>

    <div id="activeGames">
        <h3>Active games</h3>

        <!-- TODO: save active games in user document -->
        <p *ngIf="activeGames.length === 0">You don't have any active games! Join (or create) one <a routerLink="/join">here</a></p>
        <div id="games">
            <div *ngFor="let game of activeGames">
                <p><a routerLink="/play/{{ game }}">game {{ game }}</a></p>
            </div>
        </div>
    </div>
</div>
